* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --linkHover: #20c997;
  --black: #222831;
  --white: #fff;
  --dotted: #393e46;
  --muted: #8785a2;
  --border: #dee0e4;
  --btnHover: #4DD4AC;
  --redNotif: #dc3545;

  /* Def conf */
  --defcolor: #555555;
  --defHeading: #394352;
  --defborder: #EEEEEE;
  --defLinkHover: #aaa;
  --defButton: #63748e;
  --defPagination: #4e5c70;
  --defPaginationHover: #434f61;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  padding-bottom: 100px;
  /* Same height as footer */
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black);
}

.content-wrapper {
  width: 1050px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid var(--border);
}

header .content-wrapper {
  display: flex;
}

header h1 {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0;
  padding: 24px 0;
}

header h1 a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.25rem;
}

header h1 a:hover {
  color: var(--linkHover);
}

header nav {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: var(--black);
  padding: 10px 10px;
  margin: 0 10px;
}

header nav a:hover {
  color: var(--linkHover);
  border-bottom: 1px dotted var(--border);
}

header .link-icons {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

header .link-icons a {
  text-decoration: none;
  color: var(--black);
  padding: 0 10px;
}

header .link-icons a:hover {
  color: var(--linkHover);
}

header .link-icons .btn-login {
  background-color: var(--black);
  color: var(--white);
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

header .link-icons .btn-login:hover {
  background-color: var(--btnHover);
  color: var(--white);
  transition: background-color 0.2s;
}

header .link-icons a i {
  font-size: 18px;
}

header .link-icons a span {
  display: inline-block;
  text-align: center;
  background-color: var(--redNotif);
  border-radius: 50%;
  color: var(--white);
  font-size: 12px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  font-weight: bold;
  position: absolute;
  top: 22px;
  right: 0;
}

main .featured {
  display: flex;
  flex-direction: column;
  background-image: url(imgs/computer-823613_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main .featured h2 {
  display: inline-block;
  margin: 0;
  width: 1050px;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
  font-size: 68px;
  color: var(--black);
  padding-bottom: 10px;
}

main .featured p {
  display: inline-block;
  margin: 0;
  width: 1050px;
  font-size: 24px;
  color: var(--black);
}

main .recentlyadded h2 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 40px 0;
  font-size: 24px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--border);
}

main .recentlyadded .products,
main .products .products-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 0 0;
}

main .recentlyadded .products .product,
main .products .products-wrapper .product {
  display: block;
  overflow: hidden;
  text-decoration: none;
  width: 25%;
  padding-bottom: 60px;
}

main .recentlyadded .products .product img,
main .products .products-wrapper .product img {
  transform: scale(1);
  transition: transform 1s;
}

main .recentlyadded .products .product .name,
main .products .products-wrapper .product .name {
  display: block;
  color: var(--black);
  padding: 20px 0 2px 0;
}

main .recentlyadded .products .product .price,
main .products .products-wrapper .product .price {
  display: block;
  color: #999999;
}

main .recentlyadded .products .product .rrp,
main .products .products-wrapper .product .rrp {
  color: #BBBBBB;
  text-decoration: line-through;
}

main .recentlyadded .products .product:hover img,
main .products .products-wrapper .product:hover img {
  transform: scale(1.05);
  transition: transform 1s;
}

main .recentlyadded .products .product:hover .name,
main .products .products-wrapper .product:hover .name {
  color: var(--linkHover);
  text-decoration: underline;
}

main>.product {
  display: flex;
  padding: 40px 0;
}

main>.product>div {
  padding-left: 15px;
}

main>.product h1 {
  font-size: 34px;
  font-weight: normal;
  margin: 0;
  padding: 20px 0 10px 0;
}

main>.product .price {
  display: block;
  font-size: 22px;
  color: #999999;
}

main>.product .rrp {
  color: #BBBBBB;
  text-decoration: line-through;
  font-size: 22px;
  padding-left: 5px;
}

main>.product form {
  display: flex;
  flex-flow: column;
  margin: 40px 0;
}

main>.product form input[type="number"] {
  width: 400px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  color: #555555;
  border-radius: 5px;
}

main>.product form input[type="number"]:focus {
  outline: none !important;
  border: 1px solid var(--linkHover);
  box-shadow: 0 0 10px var(--linkHover);
}

main>.product form input[type="submit"] {
  background: var(--black);
  border: 0;
  color: var(--white);
  width: 400px;
  padding: 12px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

main>.product form input[type="submit"]:hover {
  background-color: var(--linkHover);
  transition: background-color 0.2s;
}

main>.products h1 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 40px 0;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

main>.products .buttons {
  text-align: right;
  padding-bottom: 40px;
}

main>.products .buttons a {
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
  padding: 12px 20px;
  border: 0;
  background: var(--black);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}

main>.products .buttons a:hover {
  background: var(--linkHover);
}

main .cart h1 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 40px 0;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

main .cart table {
  width: 100%;
}

main .cart table thead td {
  padding: 30px 0;
  border-bottom: 1px solid #EEEEEE;
}

main .cart table thead td:last-child {
  text-align: right;
}

main .cart table tbody td {
  padding: 20px 0;
  border-bottom: 1px solid #EEEEEE;
}

main .cart table tbody td:last-child {
  text-align: right;
}

main .cart table .img {
  width: 80px;
}

main .cart table .remove {
  color: #777777;
  font-size: 12px;
  padding-top: 3px;
}

main .cart table .remove:hover {
  text-decoration: underline;
}

main .cart table .price {
  color: #999999;
}

main .cart table a {
  text-decoration: none;
  color: #555555;
}

main .cart table input[type="number"] {
  width: 68px;
  padding: 10px;
  border: 1px solid #ccc;
  color: #555555;
  border-radius: 5px;
}

main .cart .subtotal {
  text-align: right;
  padding: 40px 0;
}

main .cart .subtotal .text {
  padding-right: 40px;
  font-size: 18px;
}

main .cart .subtotal .price {
  font-size: 18px;
  color: #999999;
}

main .cart .buttons {
  text-align: right;
  padding-bottom: 40px;
}

main .cart .buttons input[type="submit"] {
  margin-left: 5px;
  padding: 12px 20px;
  border: 0;
  background: var(--black);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

main .cart .buttons input[type="submit"]:hover {
  background: var(--linkHover);
}

main .placeorder h1 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 40px 0;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

main .placeorder p {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #EEEEEE;
  padding: 20px 0;
  width: 100%;
}