* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --linkHover: #20c997;
  --black: #222831;
  --white: #fff;
  --dotted: #393e46;
  --muted: #8785a2;
  --border: #dee0e4;
}

body {
  background-color: var(--white);
}

header {
  width: 100%;
}

header h1 {
  padding-top: 20px;
  text-align: center;
}

header h1 a {
  color: var(--black);
  font-size: 1.75rem;
  text-decoration: none;
}

header h1 a:hover {
  color: var(--linkHover);
  border-bottom: 1px dotted var(--dotted);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.login {
  margin-top: -50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 370px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.login h1 {
  text-align: center;
  color: var(--black);
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid var(--border);
}

.login p {
  padding-top: 20px;
  text-align: center;
  color: var(--muted);
}

.login p a {
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

.login p a:hover {
  color: var(--linkHover);
  border-bottom: 1px dotted var(--dotted);
}

.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 8px 0 0 8px;
}

.login form input[type="password"],
.login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 0 8px 8px 0;
  margin-bottom: 20px;
  padding: 0 15px;
}

.login form input[type="submit"] {
  width: 360px;
  height: 50px;
  padding: 15px;
  margin-top: 20px;
  background-color: var(--black);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: var(--white);
  border-radius: 8px;
  transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
  background-color: var(--linkHover);
  transition: background-color 0.2s;
}

.login form input[type="text"]:focus,
.login form input[type="password"]:focus {
  outline: none !important;
  border: 1px solid var(--linkHover);
  box-shadow: 0 0 10px var(--linkHover);
}